
@media(min-width:768px) {

    .slogan img {
        max-width: 540px;
        max-height: 440px;
    }
}



@media(max-width:768px) {

    .slogan img {
        max-width: 340px;
        max-height: 140px;
    }

    .homeContainer {
        display: flex;
        flex-direction: column;
    }

    .slogan {
        flex: 1;
    }

    .sidebar {
        flex: 1;
    }
}



.body {
    background-color: #fbfbf4;
}


.homeContainer {
    display: flex;
    background-color: #f9f9f9;
    height: 90%;
    font-family: initial;
}

.slogan {
    flex: 3;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.sidebar {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.openingTimes {
    min-height: 200px;
    width: auto;
}

label {
    margin-right: 5px;
}


.check {
    display: flex;
    justify-content: right;
}

.col {
    display: flex;
    justify-content: right;
}

.submit {
    display: flex;
    justify-content: right;
}

.col2 {
    flex: 2;
}

.col3 {
  flex: 1;
}

.postcode {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.postcode input {
    margin-left: 20px;
}


.cashback {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
}

.cashback h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cashback .list-group-item {
    display: flex;
    margin-bottom: 20px;
}

.cashback form {
    display: contents;
}

.cashback button {
   min-width: 200px;
    margin-top: 20px;
}
